* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    margin: 0;
  }
  
  #myLinks {
    display: flex;
    overflow: auto;
    justify-content: right;
    background-color:rgb(244, 244, 244);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20;

  }
  nav{
border-bottom:5px solid rgba(4, 4, 188);
    
  }
  nav a {
    color: rgb(0, 0, 0);
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
  }
  
  nav a:hover:not(.active,.logo) {
    background-color: rgb(218, 218, 218);
    color: rgba(0, 0, 0, 0.726);
  }

  a.active {
    background-color:rgb(218, 218, 218);
    color: rgb(0, 0, 0);
  }

   nav h2{
    position: fixed;
    color: white;
    left: 10px;
    padding: 3px;
    margin: 10px;
  
  }

  button{
    display: none;
  }

  main {
    width: 100%;
    font-size: large;
    padding: 20px;
    margin-top: 30px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    
  }

  main h1{
    width: 50%;
    color: rgba(20, 19, 19, 0.7);
    margin-top: 10%;
    text-align: center;
    
    
  }
  main p{
    width: 80%;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
    box-shadow: 4px 4px 15px rgba(82, 82, 82, .4);
    
  }
#product{
  margin-top: 5%;
  justify-content:center;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
  .product1{
    margin: 2%;
    box-shadow: 0 0 1em rgb(199, 199, 199);
    width: 350px;
    height: 250px;
    box-shadow: 14px 14px 15px rgba(82, 82, 82, .4);
    background:
              linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.5)),
              url(img/pexels-photo-1684989.jpeg);
          background-size: cover;
          background-position: center center;
   
  }
  .product2{
    margin: 2%;
    box-shadow: 0 0 1em rgb(199, 199, 199);
    width: 350px;
    height: 250px;
    box-shadow: 14px 14px 15px rgba(82, 82, 82, .4);
    background:
              linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.5)),
              url(img/pexels-photo-2199293.jpeg);
          background-size: cover;
          background-position: center center;
    
  }
  .product3{
    
    margin: 2%;
    box-shadow: 0 0 1em rgb(199, 199, 199);
    width: 350px;
    height: 250px;
    box-shadow: 14px 14px 15px rgba(82, 82, 82, .4);
    background:
              linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.5)),
              url(img/istockphoto-94293803-612x612.jpg);
          background-size: cover;
          background-position: center center;
    
  }

 

#product a{

   
   color: #000;
   text-decoration: none;
   padding: 5%;
   background-color: #fff;
   border-radius:  50px;
 }

  #product a:hover{
    
    color: rgb(0, 0, 0);
    box-shadow: inset 0 2em 4em rgb(247, 236, 199);
  }
  .product-title h3{
    color: #fff;
    text-align: center;
  }
  

  div.gallery {
    border: 1px solid white;
    border-radius: 10px;
  }

  div.gallery img{
    width: 100%;
    border-radius: 10px;
  }

  div.gallery iframe{
    width: 100%;
    height: auto;
    min-height: 250px;
    border-radius: 10px;
  }
  
  div.gallery:hover {
    border: 1px solid red;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
    color: gray;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  
  .responsive {
    padding: 6px;
    float: left;
    width: 24.99999%;
  }

  .center{
    display: flex;
    justify-content: center;
    background-image: url("galeria/Robyn\ Adele\ Anderson\ face.png");
  }

  
  

  footer {
    clear: both;
    padding: 1px;
   height: 100%;
    width: 100%;
    text-align: center;
   background-color:rgb(4, 4, 188 );
    color: seashell;
    
    bottom: 0;
    z-index: 5;
  }

  .socialmedia{
    float: left;
   padding-top: 10px;
   padding-left: 10px;
   
    display:flex;
    margin: 10px;
    
  }
  .socialmedia a{
    text-decoration: none;
    color: #fff;
    
    margin-left: 10px;
    padding:10px ;
    flex-wrap: wrap;
    
  }
  .tel :hover{
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    color: green;
  }
  .email :hover{
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    color: red;
  }
  .facebook :hover{
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    color: #3b5998;
  }

  footer .imgfoot {
    flex-wrap: wrap;
    float:right;
    display: block;
    margin-top: 10px; ;
    margin-right: 5%; 
  }
  
  @media (max-width: 900px) {
    nav {   
      flex-direction: column;
      z-index: 30;
    }

    .button{
      display: flex;
      justify-content: center;
      background-color:rgb(4, 4, 188 );
      position: -webkit-sticky;
      position: sticky;
      top: 0;
    }

    button{
      border: none;
      color: white;
      background-color:rgba(0, 0, 0, 0.01);
      padding: 5px;
      text-align: center;
      display: block;
      cursor: pointer;
      font-size: xx-large;
    }

    #myLinks{
      display: none;
     
    }

    nav .logo{
      font-size: 10px;
      display: none;
    }
  

    main{
      width: 100%;
      font-size: large;
      padding: 10px;
      margin-top: 0;
      display: block;
      justify-content: center;
    }
    .product{
      width: 100%;
    }
    .responsive {
      width: 100%;
    }

    .top{
      display: none;
    }

    main h2{
      width: 100%;
      color: rgba(20, 19, 19, 0.7);
      text-align: left;
    }

    main h3{
      width: 100%;
      text-align: center;
    }

    main img{
      border-radius: 10px;
      width: 100%;
      margin: 0;
    }

    img.flex{
      width: 100%;
      margin: 0 0 10px 0;
    }

    .center{
      display: flex;
      justify-content: center;
      background-image: none;
    }

    fieldset{
      width: 100%;
    }

    footer {
      clear: both;
      
      max-height: 200px;;
      width: 100%;
      text-align: center;
      background-color:rgb(4, 4, 188,);
      color: seashell;
      bottom: 0;
      margin: 0;
    }

    #slider2{
      width: 100%;
      margin-left: auto;
      margin-right:auto ;
      margin: 0px;
      height: 500px;
      z-index: -1;
    }


    .slider2.slider.element-title {
      font-size: 10px;
      padding-left:2rem;
      padding-right:2rem;
  }

  .slider2 .element1 {
    
      
    background-size:contain;
    
  }
  .slider2 .element2 {
    
    background-size:contain;
    
  }
  .slider2 .element3 {
    
       
    background-size:contain;
    
  }
}

  /*===========SLIDER================ */
  .slider {
    position: relative;
    background: #eee;
    background-size: cover;
    background-position: center center;
    display: grid;
    grid-template-columns: 4rem 1fr 4rem;
    grid-template-rows: 1fr;
    height: 500px;
  }
.slider-slides-cnt {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
.slider-slide {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity:0;
    z-index: 0;
}
.slider-slide-active {
    opacity: 1;
    z-index: 1;
}

.slider .element-title {
    color:#fff;
    
    font-family: sans-serif;
    position: relative;
    left:-3rem;
    opacity:0;
    font-size:6rem;
    text-transform: uppercase;
    font-weight: normal;
    margin-top:0;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
}



.slider-slide {
    opacity: 0;
    transition:0.4s all;
}
.slider-slide-active {
    opacity: 1;
}
.slider .element-title {
    left:-3rem;
    opacity:0;
    transition: 2s left, 2s opacity;
}
.slider .element-text {
    left:-3rem;
    opacity:0;
    transition: 2s 1s left, 2s 1s opacity;
}
.slider-slide-active .element-title {
    left:0;
    opacity:1;
}
.slider-slide-active .element-text {
    left:0;
    opacity:1;
}
.slider-nav {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    display: grid;
    grid-template-columns: 4rem 1fr 4rem;
    grid-template-rows: 1fr;
}



.slider-pagination {
    z-index: 2;
    position: absolute;
    left:0;
    bottom:1rem;
    margin:0;
    padding:0;
    width:100%;
    display: flex;
    justify-content: center;
    list-style:none;
}

.slider-pagination-button {
    background: transparent;
    width:2rem;
    height:2rem;
    border:0;
    text-indent:-999px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}
.slider-pagination-button:before {
    content:'';
    position: absolute;
    left:50%;
    top:50%;
    transform:translate(-50%, -50%);
    background: transparent;
    width:0.9rem;
    height:0.9rem;
    border-radius: 50%;
    transition:0.5s all;
    box-shadow:inset 0 0 0 2px rgba(255,255,255,0.5);
}
.slider-pagination-element-active .slider-pagination-button:before {
    background: #fff;
    transform:translate(-50%, -50%) scale(1.2);
}
.slider-pagination-button:focus {
    outline: none;
}

 
        .slider {
          margin-bottom:10px;
          
         
      }
      

    

      .slider2 .element1 {
          background:
              linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.5)),
              url(img/istockphoto-1166212575-612x612.jpg);
          background-size: cover;
          background-position: center center;
          background-attachment: fixed;
      }
      .slider2 .element2 {
        background:
            linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.5)),
            url(img/istockphoto-1222996465-612x612.jpg);
        background-size: cover;
        background-position: center center;
        background-attachment: fixed;
    }
    .slider2 .element3 {
      background:
          linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.5)),
          url(img/istockphoto-146914566-612x612.jpg);
      background-size: cover;
      background-position: center center;
      background-attachment: fixed;
  }
      .slider2.slider .element-title {
          
          text-transform: none;
          font-size:4rem;
      }
      

      a.gflag {vertical-align:middle;font-size:24px;padding:1px 0;background-repeat:no-repeat;background-image:url(//gtranslate.net/flags/24.png);}
      a.gflag img {border:0;}
      a.gflag:hover {background-image:url(//gtranslate.net/flags/24a.png);}
      #goog-gt-tt {display:none !important;}
      .goog-te-banner-frame {display:none !important;}
      .goog-te-menu-value:hover {text-decoration:none !important;}
      body {top:0 !important;}
      #google_translate_element2 {
        display:none!important;
      
      }

      
         
        